:root {
    font-size: 1em;
    color: black;
    line-height: 1.4;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

section {
    padding: 1.618rem;
}

.links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

section:first-child {
    font-size: 1.61888rem;
}

#blurb {
    font-style: italic;
    font-weight: 100;
    orphans: 3;
    widows: 3;
}

a {
    border-bottom: .1rem solid rgba(255, 0, 0, 0);
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom: .1rem solid rgba(255, 0, 0, 100);
    color: inherit;
    text-decoration: none;
}

.red-underline {
    text-decoration: none;
    border-bottom: .1rem solid rgba(255, 0, 0, 100);
}

.links > a {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 30em) {
    /*section:first-child {*/
        /*font-size: 1.68rem;*/
    /*}*/

    html, body {
        min-height: 100vh;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    section {
        max-width: 75vw;
    }

    .links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}
